
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.message-list{
  list-style: none;
}


.formatter{
  width: 25%;
  display: inline-block;
}

.user-name{
  display: inline-block;
  width: 50%;
  overflow: scroll;
  margin-right: 5px;
}
